
.masonry {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .masonry__item {
    position: absolute;
    width: 100% ;
  }
  
  .masonry__image {
    display: block;
    height: auto;
    width: 95%;
    
  }
  